DEBUG = {{ debug }}

MONGODB_SETTINGS = {
    'db': '{{hostvars['dbhost']['db_name']}}',
    'host': '{{ hostvars['dbhost']['ansible_ssh_host'] }}',
    'port': {{hostvars['dbhost']['mapped_port']}}
}

S3_BUCKET = '{{s3_bucket}}'